In [2]:
import pandas as pd

In [3]:
weather_df = (
    pd.read_csv('../datas/weather.csv')
    [['datetime', 'feelslike', 'humidity', 'windspeed']]
    .rename(columns={'feelslike': 'temperature'})
)

weather_df.head()

     datetime  temperature  humidity  windspeed
0  2024-07-01         25.9      67.5       27.2
1  2024-07-02         27.1      68.3       19.6
2  2024-07-03         27.5      61.9       28.7
3  2024-07-04         25.2      75.1       24.2
4  2024-07-05         24.5      71.8       26.1

In [4]:
sleep_df = pd.read_csv('../datas/sleep.csv')
sleep_df.head()

  creationDate  sleepDuration
0   2024-07-01       7.887778
1   2024-07-02       8.314444
2   2024-07-03       8.044722
3   2024-07-04       8.088056
4   2024-07-05       7.751667

In [5]:
step_df = pd.read_csv('../datas/step.csv')
step_df.head()

         date  stepCount
0  2024-07-01       5882
1  2024-07-02       2498
2  2024-07-03       3178
3  2024-07-04       6168
4  2024-07-05       6304

In [6]:
weather_df.rename(columns={'datetime': 'Date'}, inplace=True)
sleep_df.rename(columns={'creationDate': 'Date'}, inplace=True)
step_df.rename(columns={'date': 'Date'}, inplace=True)

In [7]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
sleep_df['Date'] = pd.to_datetime(sleep_df['Date'])
step_df['Date'] = pd.to_datetime(step_df['Date'])

weather_date_range = (weather_df['Date'].min(), weather_df['Date'].max())
sleep_date_range = (sleep_df['Date'].min(), sleep_df['Date'].max())
step_date_range = (step_df['Date'].min(), step_df['Date'].max())

# Print the date ranges
print("Weather data date range:", weather_date_range)
print("Sleep data date range:", sleep_date_range)
print("Step data date range:", step_date_range)

Weather data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-25 00:00:00'))
Sleep data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Step data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-28 00:00:00'))

In [8]:
start_date = pd.to_datetime('2024-07-01')
end_date = pd.to_datetime('2024-11-21')

print(f"Filtering data from {start_date.date()} to {end_date.date()}")

Filtering data from 2024-07-01 to 2024-11-21

In [9]:
# Filter Weather DataFrame
weather_df = weather_df[
    (weather_df['Date'] >= start_date) & (weather_df['Date'] <= end_date)
]

# Filter Sleep DataFrame
sleep_df = sleep_df[
    (sleep_df['Date'] >= start_date) & (sleep_df['Date'] <= end_date)
]

# Filter Step DataFrame
step_df = step_df[
    (step_df['Date'] >= start_date) & (step_df['Date'] <= end_date)
]

In [10]:
weather_date_range = (weather_df['Date'].min(), weather_df['Date'].max())
sleep_date_range = (sleep_df['Date'].min(), sleep_df['Date'].max())
step_date_range = (step_df['Date'].min(), step_df['Date'].max())

# Print the date ranges
print("Weather data date range:", weather_date_range)
print("Sleep data date range:", sleep_date_range)
print("Step data date range:", step_date_range)

Weather data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Sleep data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Step data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))

In [11]:
weather_df.to_csv('../datas/weather_cleaned.csv')
sleep_df.to_csv('../datas/sleep_cleaned.csv')
step_df.to_csv('../datas/step_cleaned.csv')