In [ ]:
import pandas as pd

In [3]:
weather_df = pd.read_csv('../datas/weather.csv')
weather_df.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Istanbul,Turkey",2024-07-01,30.4,21.0,25.7,30.0,21.0,25.9,18.6,67.5,...,17.9,9.0,NaN,2024-07-01T05:35:43,2024-07-01T20:40:14,0.84,Clear,Clear conditions throughout the day.,clear-day,"D8508,LTBA,17063099999,17119099999,17061099999..."
1,"Istanbul,Turkey",2024-07-02,30.5,21.9,26.3,32.2,21.9,27.1,19.6,68.3,...,21.6,9.0,NaN,2024-07-02T05:36:14,2024-07-02T20:40:04,0.87,Clear,Clear conditions throughout the day.,clear-day,"D8508,LTBA,17063099999,17119099999,17061099999..."
2,"Istanbul,Turkey",2024-07-03,31.5,22.8,26.7,33.4,22.8,27.5,18.7,61.9,...,16.1,9.0,NaN,2024-07-03T05:36:46,2024-07-03T20:39:52,0.91,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"17068099999,D8508,LTBA,17063099999,17119099999..."
3,"Istanbul,Turkey",2024-07-04,27.3,23.2,25.0,28.6,23.2,25.2,20.2,75.1,...,5.0,4.0,NaN,2024-07-04T05:37:21,2024-07-04T20:39:39,0.94,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"17068099999,D8508,LTBA,17063099999,17119099999..."
4,"Istanbul,Turkey",2024-07-05,27.9,20.8,24.4,28.6,20.8,24.5,18.7,71.8,...,16.5,7.0,NaN,2024-07-05T05:37:56,2024-07-05T20:39:23,0.98,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"17068099999,D8508,LTBA,17063099999,17119099999..."

In [4]:
sleep_df = pd.read_csv('../datas/sleep.csv')
sleep_df.head()

  creationDate  sleepDuration
0   2024-07-01       7.887778
1   2024-07-02       8.314444
2   2024-07-03       8.044722
3   2024-07-04       8.088056
4   2024-07-05       7.751667

In [5]:
step_df = pd.read_csv('../datas/step.csv')
step_df.head()

         date  stepCount
0  2024-07-01       5882
1  2024-07-02       2498
2  2024-07-03       3178
3  2024-07-04       6168
4  2024-07-05       6304

In [7]:
weather_df.rename(columns={'datetime': 'Date'}, inplace=True)
sleep_df.rename(columns={'creationDate': 'Date'}, inplace=True)
step_df.rename(columns={'date': 'Date'}, inplace=True)

In [9]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
sleep_df['Date'] = pd.to_datetime(sleep_df['Date'])
step_df['Date'] = pd.to_datetime(step_df['Date'])

weather_date_range = (weather_df['Date'].min(), weather_df['Date'].max())
sleep_date_range = (sleep_df['Date'].min(), sleep_df['Date'].max())
step_date_range = (step_df['Date'].min(), step_df['Date'].max())

# Print the date ranges
print("Weather data date range:", weather_date_range)
print("Sleep data date range:", sleep_date_range)
print("Step data date range:", step_date_range)

Weather data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-25 00:00:00'))
Sleep data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Step data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-28 00:00:00'))

In [12]:
start_date = pd.to_datetime('2024-07-01')
end_date = pd.to_datetime('2024-11-21')

print(f"Filtering data from {start_date.date()} to {end_date.date()}")

Filtering data from 2024-07-01 to 2024-11-21

In [15]:
# Filter Weather DataFrame
weather_df = weather_df[
    (weather_df['Date'] >= start_date) & (weather_df['Date'] <= end_date)
]

# Filter Sleep DataFrame
sleep_df = sleep_df[
    (sleep_df['Date'] >= start_date) & (sleep_df['Date'] <= end_date)
]

# Filter Step DataFrame
step_df = step_df[
    (step_df['Date'] >= start_date) & (step_df['Date'] <= end_date)
]

In [16]:
weather_date_range = (weather_df['Date'].min(), weather_df['Date'].max())
sleep_date_range = (sleep_df['Date'].min(), sleep_df['Date'].max())
step_date_range = (step_df['Date'].min(), step_df['Date'].max())

# Print the date ranges
print("Weather data date range:", weather_date_range)
print("Sleep data date range:", sleep_date_range)
print("Step data date range:", step_date_range)

Weather data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Sleep data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))
Step data date range: (Timestamp('2024-07-01 00:00:00'), Timestamp('2024-11-21 00:00:00'))

In [18]:
weather_df.to_csv('../datas/weather_cleaned.csv')
sleep_df.to_csv('../datas/sleep_cleaned.csv')
step_df.to_csv('../datas/step_cleaned.csv')